<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Books!</title>
</head>

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Books!</title>
</head>

<body>
  <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to the Books Section </h1>
          <p class="lead text-muted">I tried to arrange Some very useful books those every Programmer Must Read. Books are available in Pdf form or You will going to read them online...</p>
          <p class="lead text-muted">Pro Tip- You should always but them. that's not fair if you are a Programmer</p>
          <p>
            <a href="books" class="btn btn-primary my-0">Books</a>
                        <a href="documentation" class="btn btn-secondary my-0">Documentation</a>
          </p>
        </div>
      </div>
    

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/prag.jfif" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                role="img" aria-label="/static/2.jpg: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">The Pragmatic Programmer</text>
              </svg>

              <div class="card-body">
                <p class="card-text">The Pragmatic Programmer: From Journeyman to Master is a book about computer programming and software engineering, written by Andrew Hunt and David Thomas and published in October 1999. It is used as a textbook in related university courses.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-secondary"
                        href="https://www.flipkart.com/the-pragmatic-programmer/p/itmfbspvmsmtq4ew">View details
                        »</a>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <!-- <small class="text-muted">9 mins</small> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/clean.jfif" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                role="img" aria-label="/static/2.jpg: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Clean-Code-Robert-C-Martin</text>
              </svg>

              <div class="card-body">
                <p class="card-text">Even bad code can function. But if code isn't clean, it can bring a development organization to its knees. Every year, countless hours and significant resources are lost because of poorly written code.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-secondary"
                        href="https://www.amazon.in/Clean-Code-Robert-C-Martin/dp/8131773388/ref=asc_df_8131773388/?tag=googleshopdes-21&linkCode=df0&hvadid=397082920745&hvpos=&hvnetw=g&hvrand=5257245663631806673&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9040182&hvtargid=pla-404766227919&psc=1&ext_vrnc=hi">View details
                        »</a>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <!-- <small class="text-muted">9 mins</small> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="/static/work.jfif" svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                role="img" aria-label="/static/2.jpg: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Coders At Work</text>
              </svg>

              <div class="card-body">
                <p class="card-text">Coders at Work: Reflections on the Craft of Programming is a 2009 book by Peter Seibel comprising interviews with 15 highly accomplished programmers.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-secondary"
                        href="https://www.youtube.com/watch?v=NWONeJKn6kc">View details
                        »</a>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  </div>
                  <!-- <small class="text-muted">9 mins</small> -->
                </div>
              </div>
            </div>
          </div>   
          
           

           

  </main>



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>

</html>